body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: linear-gradient(to right, #de6161, #2657eb);
  user-select: none;
}
/*
#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;           
  height: 700px;          
  border: 2px solid black; 
  margin: 20px auto;      
} */
